In [1]:
from emgw_filters import SpatialLocation, example_data

In [17]:
import os
import healpy as hp

In [4]:
sl = SpatialLocation(merger_times=[15], spatial_fits_files=[os.path.join(example_data, 'LALInference1.fits.gz,0')])

In [5]:
fname = os.path.join(example_data, 'LALInference1.fits.gz,0')

In [6]:
sl = SpatialLocation(merger_times=[15], spatial_fits_files=[fname])

In [7]:
!du -h $fname

788K	/Users/rbiswas/doc/projects/ZTF/EMGW/emgw_filters/example_data/LALInference1.fits.gz,0

In [8]:
sl.get_skyprobs(fname)

NSIDE = 512
ORDERING = NESTED in fits file
INDXSCHM = IMPLICIT
Ordering converted to RING

                  prob  cumulative_prob
hid
0         2.336945e-05     6.997947e-01
1         1.584233e-05     4.929913e-01
2         1.506694e-05     4.716631e-01
3         2.435316e-05     7.164242e-01
4         2.336945e-05     6.997480e-01
5         2.336945e-05     6.997246e-01
6         1.584233e-05     4.929754e-01
7         1.584233e-05     4.930071e-01
8         1.506694e-05     4.716179e-01
9         1.506694e-05     4.716330e-01
10        2.435316e-05     7.164486e-01
11        2.435316e-05     7.164729e-01
12        2.471591e-05     7.206954e-01
13        2.336945e-05     6.997713e-01
14        2.004059e-05     6.120441e-01
15        1.610294e-05     4.983114e-01
16        1.584233e-05     4.929596e-01
17        1.180449e-05     3.937342e-01
18        1.214164e-05     3.982624e-01
19        1.506694e-05     4.716481e-01
20        1.448632e-05     4.560865e-01
21        2.390012e-05     7.098141e-01
22        2.435316e-05     7.163999e-01
23        3.211056e-05     7.831507e-01
24        2.471591e-05     7.206707e-01
25        2.471591e-05     7.206212e-01
26        2.004059e-05     6.120240e-01
27        2.004059e-05     6.120841e-01
28        1.610294e-05     4.982792e-01
29        1.610294e-05     4.982953e-01
...                ...              ...
3145698   9.342894e-98     2.079325e-94
3145699   9.342894e-98     2.112960e-94
3145700  2.692628e-121    5.652213e-118
3145701  2.692628e-121    5.727607e-118
3145702  2.692628e-121    5.724914e-118
3145703  2.692628e-121    5.722222e-118
3145704  3.140657e-122    4.919824e-119
3145705  3.140657e-122    5.142811e-119
3145706  3.140657e-122    4.922965e-119
3145707  2.836929e-114    6.347478e-111
3145708  2.836929e-114    6.350315e-111
3145709  2.836929e-114    6.310598e-111
3145710   9.342894e-98     2.112026e-94
3145711   9.342894e-98     2.111091e-94
3145712   9.342894e-98     2.110157e-94
3145713  2.692628e-121    5.703373e-118
3145714  2.692628e-121    5.700681e-118
3145715  2.692628e-121    5.697988e-118
3145716  3.140657e-122    5.079997e-119
3145717  3.140657e-122    5.076857e-119
3145718  2.836929e-114    6.330457e-111
3145719  2.836929e-114    6.279392e-111
3145720   9.342894e-98     2.109223e-94
3145721   9.342894e-98     1.976554e-94
3145722  2.692628e-121    5.684525e-118
3145723  2.692628e-121    5.681832e-118
3145724  3.140657e-122    5.073716e-119
3145725  2.836929e-114    6.262370e-111
3145726   9.342894e-98     2.078391e-94
3145727  2.692628e-121    3.834689e-118

[3145728 rows x 2 columns]

In [9]:
import pandas as pd

### Use from a csv file

In [11]:
vals_to_check = pd.read_csv(os.path.join(example_data, 'gcn.csv'), sep='|')

In [12]:
vals_to_check

            name          ra        dec
0   ZTF19aasmppj  310.891261  65.544399
1   ZTF19aasmftm  325.900448  77.831563
2   ZTF19aaslsql  294.838466  60.690997
3   ZTF19aaslsvx  304.535732  58.315850
4   ZTF19aaslvwn  299.059846  46.463559
5   ZTF19aasmdir  300.236001   9.504002
6   ZTF19aasmdzs  296.202270   6.360149
7   ZTF19aasmeeg  294.371565   3.243442
8   ZTF19aaslyzp  302.685491  24.929623
9   ZTF19aaslzjf  320.626298  65.813452
10  ZTF19aaslpsq  294.433939  60.405819
11  ZTF19aaslpfx  294.003498  62.921388
12  ZTF19aasnaqa  343.703083  77.352959
13  ZTF19aassfws  298.667861  61.240012
14  ZTF19aaslome  292.637384  74.377921
15  ZTF19aaslswv  296.499884  57.597908
16  ZTF19aaslohj  297.019871  66.226053
17  ZTF19aasmety  311.248483  23.797370
18  ZTF19aasmddt  299.250550   9.701675
19  ZTF19aaslszp  301.343463  53.399048
20  ZTF19aaslomc  291.980569  73.598120
21  ZTF19aaslorp  288.098451  75.540340
22  ZTF19aaslxmg  319.097494  58.890878
23  ZTF19aasmekb  300.601399  14.287316
24  ZTF19aasmdqa  295.887824   2.536536
25  ZTF19aasrzdy  312.622237  75.015672
26  ZTF19aasmzax  288.190980  74.119726
27  ZTF19aasrlbq  310.410170  79.881062
28  ZTF19aaslolf  288.783854  79.435719
29  ZTF19aaslphi  297.380998  61.960593
30  ZTF19aasrpsr  293.327268  63.022774
31  ZTF19aasrkeq  293.893346  73.089029

In [13]:
vals_to_check['in'] = sl.check_candidate_in(vals_to_check.ra, vals_to_check.dec, 512, sl.sky_pix[0])

NSIDE = 512
ORDERING = NESTED in fits file
INDXSCHM = IMPLICIT
Ordering converted to RING

In [18]:
len(sl.sky_pix[0]) / hp.nside2npix(512) * 40000

1096.204121907552

In [20]:
vals_to_check.to_csv('test_localization.csv', index=False)

### Do a single one by hand

let us say we have the first one from that list

In [21]:
vals_to_check.head()

           name          ra        dec    in
0  ZTF19aasmppj  310.891261  65.544399  True
1  ZTF19aasmftm  325.900448  77.831563  True
2  ZTF19aaslsql  294.838466  60.690997  True
3  ZTF19aaslsvx  304.535732  58.315850  True
4  ZTF19aaslvwn  299.059846  46.463559  True

In [22]:
sl.check_candidate_in(310.89, 65.544399, 512, sl.sky_pix[0])

['True']

So yes, that is in the region